/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Project custom file
.idea/
composer.lock

# ignore image
*.jpg
*.JPG
*.png
*.PNG
*.gif
*.GIF
*.jpeg
*.JPEG
*.webp

# escaping image ignore
!index.html
!public/assets/images/logo.png
!public/assets/images/user_demo.png
!public/assets/images/car.png
!public/assets/images/kmh.png
!public/assets/images/oil.png
!public/storage/drivers/default.png



#deshborad images







# ignore zip file
*.zip
*.rar
*.tar
*.tar.gz
